html {
  position: relative;
}
.background-color {
  background-color: rgba(0, 0, 0, 1);
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.background {
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url("images/wallpaper.jpg");
  opacity: 0.3;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.page {
  padding: 20px 20px;
  background-color: rgba(255, 255, 255, 0.9);
  height: max-content;
  min-height: 100%;
  width: 100%;
}
.navbar {
  padding: 20 40px;
  background-color: rgba(255, 255, 255, 0.9);
  height: max-content;
  width: 100%;
}
.header {
  height: 200px;
  color: white;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
}
.header h3 {
  margin: auto;
  margin-bottom: 10px;
  text-align: center;
  width: 100%;
}
.header h5 {
  margin: auto;
  margin-top: 0px;
  text-align: center;
  width: 100%;
}
.category {
  padding: 0 10px;
  justify-content: space-between;
  display: flex;
  /* font-size: 10px; */
}
.navbar {
  width: 100%;
}
.navbar-categories {
  justify-content: space-between;
  vertical-align: middle;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 0;
  display: flex;
  /* font-size: 8px; */
}
.image-article {
  display: flex;
  width: fit-content;
  height: 200px;
  object-fit: cover;
}
.content-article {
  height: 200px;
  overflow: hidden;
  text-align: justify;
}
.content-article a {
  height: 200px;
}
.article {
  height: 200px;
  width: fit-content;
  margin: 40px 0;
}
a,
a:hover {
  color: grey;
  text-decoration: none;
}
.header-image {
  display: flex;
  width: fit-content;
  height: 200px;
  object-fit: cover;
}
.btn {
  border-radius: 0px;
  margin: 0 0 0 15px;
  display: inline-flex;
}

.submit-btn {
  display: inline-flex;
  margin: 20px auto;
  padding: 8px 20px;
}
.form-control {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  border-radius: 0px;
  border: 0px;
  padding: 10px;
  min-height: 50px;
}
.form-control:focus {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

#comments {
  background-color: darkgrey;
}

#commenttitle {
  color: darkgreen;
  /* background-color: darkorange; */
}

#commentdate {
  text-align: right;
  /* background-color: darkviolet; */
}
.comment-box {
  /* background: rgba(200, 200, 200, 1); */
  /* padding: 20px; */
  /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); */
}
