html {
  position: relative;
}
.background-color {
  background-color: rgba(0, 0, 0, 1);
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.background {
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url("images/wallpaper.jpg");
  opacity: 0.3;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.page {
  padding: 20px 20px;
  background-color: rgba(0, 0, 0, 5);
  background-color: white;
  height: max-content;
  min-height: 100%;
  width: 100%;
}
.navbar {
  padding: 20 40px;
  background-color: rgba(0, 0, 0, 5);
  background-color: white;
  height: max-content;
  width: 100%;
}
.header {
  height: 200px;
  color: white;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
}
.header h3 {
  margin: auto;
  margin-bottom: 10px;
  text-align: center;
  width: 100%;
}
.header h5 {
  margin: auto;
  margin-top: 0px;
  text-align: center;
  width: 100%;
}
.category {
  padding: 0 10px;
}
.navbar {
  width: 100%;
}
.navbar-categories {
  vertical-align: middle;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 0;
  display: flex;
}
.image-article {
  display: flex;
  width: fit-content;
  height: 200px;
  object-fit: cover;
}
.content-article {
  height: 200px;
  overflow: hidden;
  text-align: justify;
}
.content-article a {
  height: 200px;
}
.article {
  height: 200px;
  width: fit-content;
  margin: 40px 0;
}
a,
a:hover {
  color: grey;
  text-decoration: none;
}
.header-image {
  display: flex;
  width: fit-content;
  height: 200px;
  object-fit: cover;
}
.btn {
  border-radius: 0px;
  margin: 0 0 15px 15px;
  /* right: 0; */
  /* top: 50px; */
  /* position: relative; */
  /* float: right; */
}
